.row {
    text-align: center;


}






.card { 

display: inline-block;
width: 100px;
height: 100px;
background-image: url(/pic/Bluey_logo.jpg);
cursor: pointer;

}
.card:hover {
    border: 1px solid black
  
}

background-color: gray;


